html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Fredoka One", cursive;
}

body {
  background-color: #0a0908;
  text-align: center;
  font-family: "Fredoka One", cursive;
  color: #5e503f;
}
button {
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  color: #000;
  transform: translateY(-7px);
}
button:active {
  transform: translateY(1px);
}
.content {
  display: flex;
  justify-content: center;
}
.card {
  background-color: #eae0d5;
  border-radius: 20px;
  width: 600px;
  height: 800px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 5px 20px #c6ac8f;
}

.card__image {
  margin-bottom: 20px;
}

.card__main-img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__header {
  font-size: 30px;
  margin-bottom: 50px;
}

.card__first-score,
.card__second-score {
  font-size: 42px;
  transition: color 0.5s;
}

.card__score-to {
  font-size: 30px;
  margin: 0 30px;
}

.card__advice {
  margin: 30px 0;
}

.card__playing-to {
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 45px;
  border-bottom: 2px dashed black;
}

.card__label {
  margin-right: 5px;
}

.card__select {
  border-radius: 10px;
  padding: 0 20px;
  appearance: none;
  color: #5e503f;
}

.card__buttons {
  display: flex;
  justify-content: space-around;
}

.card__main-buttons {
  padding-right: 70px;
  border-right: 2px dashed #0a0908;
}

.buttons__button {
  padding: 20px 25px;
  border-radius: 5px;
  color: #fff;
}

.button-1 {
  background-color: #ec1b1b;
}

.button-2 {
  background-color: #3b6fcf;
  margin-left: 10px;
}

.button-reset {
  background-color: #fe5f55;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.winner {
  color: #5c8001;
}

.loser {
  color: #ff5400;
}
